<div class='container border border-primary'>
  <h1>Track Stocks</h1>
  <p>Enter the symbol of a stock to track (ie. AAPL, TSLA, GOOGL etc.)</p>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class='d-flex flex-row'>
        <div class="mb-3 px-4">
          <input type="text" class="form-control" id='stockInput' placeholder="{{userInput.stockSymbol}}" name="stockSymbolInput" aria-describedby="emailHelp" [(ngModel)]="userInput.stockSymbol" required minlength="3" maxlength="10" #nameField="ngModel" [class.field-error]="form.submitted && nameField.invalid">

        </div>
        <button type="submit" id='trackBtn' class="btn btn-primary mb-3">{{btnText}}</button>
      </div>
      <div [hidden]="!form.submitted||nameField.valid" class="alert alert-danger mx-4">
        Enter a stock symbol, 3-10 characters
      </div>
    </form>
</div>
<br>
<br>
<div *ngIf="companyCurrentDataList" class='d-flex flex-row flex-wrap'>
  <div *ngFor="let item of companyCurrentDataList" class='container border border-primary my-2 col-5'>
    <div class='d-flex flex-row me-auto justify-content-between'>
      <p>{{item.name}} ({{item.code}})</p>
      <button class='btn' id='remove{{item.code}}' (click)="onDelete(item.code)">X</button>
    </div>
    <div class='d-flex flex-row  justify-content-between'>
      <div class='d-flex flex-row flex-wrap col-10'>
        <p class='px-2 col-6'>Change Today:{{item.dp}}%</p>
        <p class='px-2 col-6'>Opening Price:{{item.o}}</p>
        <p class='px-2 col-6'>Current Price:{{item.c}}</p>
        <p class='px-2 col-6'>High Price:{{item.h}}</p>
      </div>
      <!-- <img class="flex" src="https://via.placeholder.com/150" alt=""> -->
      <span *ngIf="item.dp>0" class='text-success display-1 col-2 align-top'>⮭</span>
      <span *ngIf="item.dp<0" class='text-danger display-1 col-2 align-top'>⮯</span>
      <span *ngIf="item.dp===0" class='text-dark display-1 col-2 align-top'>⬌</span>
  
    </div>
    <div class='mb-3'>
      <button class='btn btn-primary' [routerLink]="['/sentiment', item.code, item.name]">Go to social sentiment details ></button>
    </div>
  </div>
</div>
